<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Evas Guestbook</title>
</head>

<body>

<h1>Evas Guestbook</h1>

<form action="/save" method="post">

<input
type="text"
name="title"
placeholder="Rubrik">

<br><br>

<textarea
name="message"
rows="6"
cols="40"
placeholder="Meddelande">
</textarea>

<br><br>

<button>Spara</button>

</form>

<hr>

<h2>Äldre inlägg</h2>

{% for title, message in posts %}

<h3>{{ title }}</h3>

<p>{{ message }}</p>

<hr>

{% endfor %}

</body>
</html>
